@media screen and (min-width: 768px) {
  .art-object {
    flex-basis: 30%;
  }
}

#comment {
  padding: 0;
}

#name {
  padding: 20px;
}

.popup-wrapper {
  width: 100%;
  height: auto;
}

.submit {
  padding: 5px;
}
