@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #555;
  --color-disabled: #9a9a9a;
  --color-accent: #26653a;
  --color-active: #2db32d;
  --color-focus: rgb(152, 208, 152);
  --color-negative: #fff;
  --font: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--font);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

header {
  margin: 0;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-negative);
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 1rem;
  background-color: var(--color-accent);
  color: var(--color-negative);
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  gap: 1rem;
}

#department-list {
  display: none;
  position: absolute;
  background-color: var(--color-accent);
  color: var(--color-negative);
  padding: 1rem;
  box-shadow: -0.2rem 0.2rem 0.2rem var(--color-primary);
}

#departments-menu:hover #department-list {
  display: block;
}

#art-objects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.art-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--color-negative);
  box-shadow: 0.4rem 0.4rem 0.4rem var(--color-primary), -0.1rem -0.1rem 0.1rem var(--color-primary);
}

.art-object img:hover {
  cursor: pointer;
}

.art-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.art-info > * {
  flex-basis: 80%;
}

.art-info > *:nth-child(2n) {
  flex-basis: 20%;
  text-align: right;
}

.comment-button {
  flex-basis: 50%;
  padding: 1rem;
  appearance: none;
  font-size: 1rem;
  font-family: var(--font);
  border: none;
  background-color: var(--color-accent);
  color: var(--color-negative);
  border-radius: 1rem;
}

.wrapper {
  padding: 5%;
  margin: 0 auto;
}

.hello {
  color: red;
}
